<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="CompanyPrefix" value="Sitecore"/>
        <add key="SolutionRootFolder" value="D:\\Development\\Projects\\habitat\\"/>
        <add key="HelixExpressTemplateFolder" value="D:\\Development\\Projects\\Helix-Express\\template\\"/>
		<add key="OriginalHelixSolution" value="Habitat.sln"/>
    </appSettings>
</configuration>