<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="CompanyPrefix" value="Aceik"/>
        <add key="SolutionRootFolder" value="D:\\Development\\Projects\\sitecore\\"/>
        <add key="HelixExpressTemplateFolder" value="D:\\Development\\Projects\\sitecore\\scripts\\Express\\template\\"/>
    </appSettings>
</configuration>