<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="CompanyPrefix" value="Sitecore"/>
        <add key="SolutionRootFolder" value="D:\\Development\\Demo\\Habitat2\\"/>
        <add key="HelixExpressTemplateFolder" value="D:\\Development\\Demo\\Habitat2\\scripts\\Express\\"/>
		<add key="OriginalHelixSolution" value="Habitat.sln"/>
    </appSettings>
</configuration>