<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="CompanyPrefix" value="FLG"/>
        <add key="SolutionRootFolder" value="D:\\Development\\Projects\\ff-sitecore\\"/>
        <add key="HelixExpressTemplateFolder" value="D:\\Development\\Projects\\Helix-Express\\template\\"/>
    </appSettings>
</configuration>